<style type="text/css">

body 
{
   font-size: 25px;
} 
code.r{
  font-size: 18px;
} 
pre {
  font-size: 20px
}

body, td {
   font-size: 20px;
   text-align: justify;
}

h1.title 
{/* Header 1 */
  font-size: 35px;
  font-family:  "Times New Roman", Times, serif;
  color: black;
   background-color:white;
  text-transform: none;
} 
h1 { /* Header 1 */
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color:#FFF0F5;
  text-transform: none;
} 
h2 { /* Header 2 */
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  color: darkblue;
  text-transform: none;
} 
h3 { /* Header 3 */
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  color: DarkRed;
  text-transform: none;
} 
h4 { /* Header 4 */
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: Darkred;
  text-transform: none;
} 

</style>
